html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Oswald",sans-serif;
    letter-spacing: 3px;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #70bg32;

}

.top-header {
    background-color: #9E9E9E;
    color: #212121;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.choice-container {
    margin: 0 auto;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.main-container {
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

.link {
    text-align: center;
    margin: 10px;
    float: right;
    height: 25px;
    padding: 5px;
    background-color: #F5F5F5;
    color: black;
    text-decoration: none;
}

.link:hover {
    background-color: #616161;
    color: #F5F5F5;
}

input {
    background-color: #F5F5F5;
    border: 1px solid black;
}

input:hover {
    background-color: #616161;
    color: #F5F5F5;
}

.faux-div {
    margin: 10px;
    float: left;
    width: 45px;
}